<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jordonphillips.muzeireddit" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jordonphillips.muzeireddit.ConfigActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.jordonphillips.muzeireddit.RedditArtSource"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:description="@string/app_description">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>
            <meta-data android:name="color" android:value="#ace5cc" />
            <meta-data android:name="settingsActivity"
                android:value="com.jordonphillips.muzeireddit.ConfigActivity" />
        </service>
    </application>



</manifest>
